<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>公司介绍</title>
	<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/public.css">
</head>
<body>
	<div class="top">
		<div class="logo"><a href=""></a></div>
		<div class="nav">
			<ul>
				<li><a href="index.html">公司首页</a></li>
				<li><a href="article.html">关于毓荣</a></li>
				<li><a href="list.html">产品中心</a></li>
				<li><a href="contact.html">联系我们</a></li>
				<li><a href="recruitment.html">招聘信息</a></li>
				<li><a href="form.html">在线留言</a></li>
			</ul>
		</div>
	</div>
	<div id="banner">
	</div>
	<div class="list_main">
		<div class="list_left">
			<p>全部分类</p>
			<ul>
				<li><a href="article.html">公司介绍</a></li>
				<li><a href="recruitment.html">招聘信息</a></li>
				<li><a href="form.html">在线留言</a></li>
			</ul>
			<div class="article_left">
				<img src="../static/images/article_ico3.jpg" alt="">
				<span>联系我们</span>
				<div class="clear"></div>
				<img src="../static/images/article_img1.jpg" alt="" class="article_img">
				<em>
					<img src="../static/images/article_ico1.jpg" alt="">
					<small>电话：021-59865223  </small>
				</em>
				<em>
					<img src="../static/images/article_ico2.png" alt="">
					<small>邮箱：DavidDai_yr@aliyun.com</small>
				</em>
			</div>
		</div>
		<div class="list_right">
			<div class="list_rightt">
				<p>公司介绍</p>
				<em>
					<img src="../static/images/list_ico4.png" alt="">
					<span>您当前的位置：<small><a href="index.html">首页</a>>公司介绍</small></span>
				</em>
			</div>
			<div class="article_main">
				<strong>上海毓荣实业发展有限公司</strong>
				<small>发布时间：2017-08-10 12：50：20  点击：117次  发布人：admin</small>
				<center><img src="../static/images/article_img2.jpg" alt=""></center>
				<p>毓荣实业成立于2015年。现团队正在加速完善中，公司主要经营业务为电子、计算机、数控科技专业领域内的技术开发、技术咨询以及进口日化美容产品及洗漱品等，并广泛分销国内。"责任立业"，公司以质量求生存，信誉谋发展，服务为保障，秉承"品质第一，诚信经营，开拓创新，共创双赢"的企业宗旨，为顾客创造价值、为员工创造机会、为社会创造效益。凭借"信念第一，团队精神，科技创新，精益求精"的企业理念，本着"为人们美好生活添光彩"的宗旨，努力为人类实现清洁、美丽、健康、优雅的生活，致力于成为民族企业的创新者。
				</p>
			</div>
		</div>
	</div>
	<div class="footbg">
		<div class="foot">
			<div class="code">
				<img src="../static/images/code.jpg" alt="">
			</div>
			<div class="foot_m">
				<p>单位地址：上海市青浦区清河湾路980号</p>
				<p>Copyright @ 2017 yoorong.cc  沪ICP备17035212号　版权所有· 上海毓荣实业发展有限公司</p>
			</div>
			<div class="tel">
				<p>毓荣服务热线：<span>周一至周日09：00-18:00</span></p>
				<em><img src="../static/images/foot_ico.png" alt=""><small>021-59865223</small></em>
			</div>
		</div>
	</div>	
</body>
</html>
<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/js/photoMove.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/ajax.js"></script>