<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>上海毓荣实业发展有限公司</title>
	<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="stylesheet" type="text/css" href="../static/css/public.css">
</head>
<body>
	<div id="header" class="top">
		<div class="logo"><a href=""></a></div>
		<div class="nav">
			<ul>
				<li><a href="index.html">公司首页</a></li>
				<li><a href="article.html">关于毓荣</a></li>
				<li><a href="list.html">产品中心</a></li>
				<li><a href="contact.html">联系我们</a></li>
				<li><a href="recruitment.html">招聘信息</a></li>
				<li><a href="form.html">在线留言</a></li>
			</ul>
		</div>
	</div>
	<div id="banner">
	</div>
	<div id="main">
		<div class="about">
			<div class="main_top">
				<p>走进毓荣</p>
				<em>ABOUT　US</em>
				<span>创造更好的产品　力求更好的服务</span>
			</div>
			<div class="about_m">
				<div class="about_mm">
					<p>上海毓荣实业发展有限公司</p>
					<span>
					毓荣实业成立于2015年。现团队正在加速完善中，公司主要经营业务为电子、计算机、数控科技专业领域内的技术开发、技术咨询以及进口日化美容产品及洗漱品等，并广泛分销国内。"责任立业"，公司以质量求生存，信誉谋发展，服务为保障，秉承"品质第一，诚信经营，开拓创新，共创双赢"的企业宗旨，为顾客创造价值、为员工创造机会、为社会创造效益。凭借"信念第一，团队精神，科技创新，精益求精"的企业理念，本着"为人们美好生活添光彩"的宗旨，努力为人类实现清洁、美丽、健康、优雅的生活，致力于成为民族企业的创新者。      
					</span>
				</div>
			</div>
		</div>
		<div class="product">
			<div class="main_top">
				<p>产品中心</p>
				<em>PRODUCT　CENTER</em>
			</div>
			<div class="product_main">
				<div class="product_t">
					<div class="search_container">
						<input type="text" id="search">
						<button>搜索</button>
						<div class="clear"></div>
						<ul id="suggestion" class="suggestion">						
						</ul>
					</div>
					
					<div class="category_container">
						<span>产品种类</span>
						<ul id="category"></ul>
					</div>					
				</div>
				<ul class="product_m">
				<div class="product_img">
					<a><div class="enlarge"><img src="../static/images/product_img1.jpg" alt="" /></div>
					<!-- <p>美国乐泰 3611 红胶</p>
					<em>
						<span>乐泰3611红胶是一种单一组分应用于网板印刷，受热后迅速固化的环氧树脂胶粘剂，其“剪切稀化”粘度特性和无挥发性适合应用于孔版印刷(刮胶)或SMT贴片机点胶，胶点形状非常容易控制，耐热性极好，同时无任何溶剂，完全符合环保要求</span>
						<img src="../static/images/product_ico2.png" alt="">
					</em> -->
					</a>
				</div>
				<div class="product_img">
					<a><div class="enlarge"><img src="../static/images/product_img2.jpg" alt="" /></div>
					<p>FR4过炉治具</p>
					<em>
						<span>各类波峰焊、回流焊、电子元件自动插装治夹具。</span>
						<img src="../static/images/product_ico2.png" alt="">
					</em>
					</a>
				</div>
				<div class="clear"></div>
				<div class="product_pic">
					<a><div class="enlarge_small"><img src="../static/images/product_pic1.jpg" alt="" /></div>
					<p>台式除静电离子风扇</p>
					<span>台式除静电离子风扇采用国际先进的闭环控制系统，电路能根据装在出风口的传感（铁网罩）上的电压来控制正、负离子量的多少，通过增加空气中的正、负离子量来中和被消物体表面静电，从而达到防止并消除静电危害目的。除静电设备采用人体化设计，使其操作简单，维修简易。可用于精密电子产品、电子组装、印刷、包装和细小产品成型的加工行业。</span>
					</a>
				</div>
				<div class="product_pic product_pic2">
					<a><!-- <div class="enlarge_small"><img src="../static/images/product_pic4.jpg" alt="" /></div> -->
					<div class="white">
						<img src="../static/images/product_ico3.png  " alt="">
						<p>美国乐泰 3611 红胶</p>
						<span>乐泰3611红胶是一种单一组分应用于网板印刷，受热后迅速固化的环氧树脂胶粘剂，其“剪切稀化”粘度特性和无挥发性适合应用于孔版印刷(刮胶)或SMT贴片机点胶，胶点形状非常容易控制，耐热性极好，同时无任何溶剂，完全符合环保要求。</span>
						
					</div>
					</a>
				</div>
				<div class="product_pic product_pic3">
					<a><div class="enlarge_small"><img src="../static/images/product_pic2.jpg" alt="" /></div>
					<p>阿尔法OM338PT无铅锡膏</p>
					<span>ALPHA OM-338-PT是一款无铅、免清洗焊膏，适合用于各种应用场合。ALPHA OM-338-PT的宽工艺窗口的设计使得相关从有铅到无铅的转变的问题最少。该焊膏提供了与有铅工艺相当的工艺性能。ALPHA OM-338-PT在不同设计的板上均表现出卓越的印刷能力，尤其是要求超细间距(11mil方型，10mil圆型)印刷一致和需要高产出的应用。ALPHA OM-338-PT的配方专为增强OM338的在线针测量通过率而设计，此改变不影响电可靠性。</span>
					</a>
				</div>
				<div class="product_pic product_pic4">
					<a><div class="enlarge_small"><img src="../static/images/product_pic3.jpg" alt="" /></div>
					<p>MK-S25 自动光电除静电器</p>
					<span>吸盘自动感应式离子风蛇产生大量的带有正负电荷的气体，并使用压缩空气瞬间吹出，将目标物体上的所带的正负电荷中和。当物体表面所带为负电荷时，它会吸引工作区内的正电荷；物体表面为正电荷时，它会吸引工作区内的负电荷，从而使物体表面上的静电中和，达到消除静电的目的</span>
					</a>
				</div>
				</ul>
			</div>
		</div>
		<div class="contact">
			<div class="main_top">
				<p>联系我们</p>
				<em>CONTACT　US</em>
			</div>	
			<div class="contact_main">
				<div class="contact_l">
					<img src="../static/images/contact_bg.jpg" alt="">
				</div>
				<div class="contact_r">
					<p>客服热线</p>
					<span>021-59865223</span>
					<em>
						<img src="../static/images/contact_ico1.png" alt="">
						<small>DavidDai_yr@aliyun.com</small>
					</em>
					<div class="clear"></div>
					<em>
						<img src="../static/images/contact_ico2.png" alt="">
						<small>上海毓荣实业发展有限公司</small>
					</em>
					<div class="clear"></div>
					<em>
						<img src="../static/images/contact_ico3.png" alt="">
						<small>246835257</small>
					</em>
					<div class="clear"></div>
					<ul>
						<li><a href="article.html" class="a_hover1"><strong>公司简介</strong></a></li>
						<li><a href="list.html" class="a_hover2"><strong>产品中心</strong></a></li>
						<li><a href="contact.html" class="a_hover3"><strong>联系我们</strong></a></li>
						<li><a href="form.html" class="a_hover4"><strong>在线留言</strong></a></li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	
	<div id="footer" class="footbg">
		<div class="foot">
			<div class="code">
				<img src="../static/images/code.jpg" alt="">
			</div>
			<div class="foot_m">
				<p>单位地址：上海市青浦区清河湾路980号</p>
				<p>Copyright @ 2017 yoorong.cc  沪ICP备17035212号　版权所有· 上海毓荣实业发展有限公司</p>
			</div>
			<div class="tel">
				<p>毓荣服务热线：<span>周一至周日09：00-18:00</span></p>
				<em><img src="../static/images/foot_ico.png" alt=""><small>021-59865223</small></em>
			</div>
		</div>
	</div>
	
</body>
</html>
<!-- <script type="text/javascript" src="js/route.js"></script> -->
<script type="text/javascript" src="../static/js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../static/js/photoMove.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/ajax.js"></script>
<script type="text/javascript">
	indexCategory($('#category'));
	$('.enlarge img').each(function(){
		$(this).hover(function(){
			$(this).stop().animate({"width": "550px","height": "395px","margin": "-25px 0 0 -25px"},1000)
		},function(){
			$(this).stop().animate({"width": "500px","height": "345px","margin": "0"},1000)
		})
	})
	$('.enlarge_small img').each(function(){
		$(this).hover(function(){
			$(this).stop().animate({"width": "300px","height": "466px","margin": "-25px 0 0 -25px"},1000)
		},function(){
			$(this).stop().animate({"width": "250px","height": "416px","margin": "0"},1000)
		})
	})
	search($('#search'),$('#suggestion'),$('.search_container'),$('button'))
</script>